
 .form-div{
    border: 1px solid;
    margin: 30px;
}

.link-btn{
    text-decoration: none !important;
    color: white !important;
}

.table-btn{
    text-align: left;
    margin-left: 10px;
    border: 1px solid;
    padding: 13px;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.dashboard-div{
    border: solid 2px  rgb(218, 215, 215);
    margin-left:30px !important;
    width: 95%;
    margin-top: 20px;
    /* padding: 10px 10px 10px 10px; */
    /* height: 30px; */
}

 /* .table-div{
    border: solid 2px  rgb(218, 215, 215);
    text-align: left !important;
    margin-left: 50px;
   width: 90%;
   padding: 15px 15px 15px 15px;
   margin-top: 5px;
} */

/* .form-hr{
    margin-top: 30px !important;
    background-color: black;
    padding: 0px 5px 0px 10px;
} */

.stu_btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    margin: 10px 0px 10px 0px;
}

.view-btn{
    background-color: #063a41 !important;
    width: 100px;
    color: white !important;

}

.modal-camp{
    size: initial;
   
}

.post-table{
    border: solid 2px  rgb(179, 178, 178);
    width: 90%;
    text-align: center !important;
    margin: auto;
  
}

.view-link{
    text-decoration: none;
    padding: 5px;
}

.modal-img{
    width: 200% !important;
    height: 200px;
    background-color: gray;
}

.modal-stu{
font-size: 1rem;
font-weight: bold;
}

@media screen and (max-width: 700px){
    .form-div{
        border: solid 1px gray;
        /* padding: 30px 30px 30px 30px; */
        /* margin: 20px 20px 20px 20px; */
        width: 100% !important;
        margin-left: -2px;
    }
       .dashboard-div{
        border: solid 2px  rgb(218, 215, 215);
        margin-left:10px !important;
        width: 95%;
        margin-top: 20px;

    }


}
